@import 'reset.css';

body {
  font-size: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: ;
  grid-gap: 0;
}

.sidebar {
  background-color: #354051;
  height: 100vh;
  font-size: .8rem;
  color: white;
}

.icon-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 20px 20px 5px;

}

h3 {
  text-align: center;
}

h3:hover {
  color: #E4CEAD;
}

.link {
  margin:.4rem;
}

a.link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #E4CEAD;
}
 
.sidebox2,
.sidebox3,
.sidebox4 {
  margin: 1.6rem .6rem;
}

.sidebar-links a {
  display: block;
  font-size: .7rem;
}

.yellow-icon {
  color: yellow;
}

.blue-icon {
  color: blue;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}
.wrap {
  flex: 2;
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: [row1-start] 6rem [row1-end] 6rem [third-line] 4rem [fourth-line] auto [last-line];
}

.top-section {
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.search-info {
  display: grid;
  grid-template-columns: 30px auto 30px 2rem 2rem;
  margin: 1rem;
  font-size: 1.2rem;
  color: #9D9BAC;
}

.searchbar-section {
  grid-column: 2;
}

.search-bar {
  width: 400px;
  height: 1.2rem;
  border: none;
}

.header-icon-one {
  grid-column: 3;
}

.header-icon-two {
  grid-column: 4;
}

.header-icon-three {
  grid-column: 5;
}

.bottom-section {
  background-color: #EDF2F6;
}

.nav-info {
  grid-row: 2 / span 2;
  margin: 1rem 0 1rem 2rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: .6rem;
}

.title-name-details {
  font-size: .8rem;
  display: inline;
  margin-bottom: .4rem;
}

.title-location {
  margin-right: 1.2rem;
}


.actions {
  float: right;
  padding: .2rem;
  font-size: 1rem;
}

.open-task {
  height: 1.6rem;
  border-radius: 20%;
  margin-right: .8rem;
}

.nav-tasks {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  margin-right: .2rem;
}

.navigation {
  grid-row: 3 / span 3;
  font-size: .8rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.nav {
  margin-right: 1.6rem;
  text-decoration: none;
}

.graph-content {
  grid-row: 4 / span 4;
}

.content-info {
  grid-row: 5 / span 5;
}


